#include "src/MParallel.h"

/////////////////////////////////////////////////////////////////////////////
//
// Microsoft Visual C++ generated resource script.
//
#define APSTUDIO_READONLY_SYMBOLS
#include "WinResrc.h" //"afxres.h"
#undef APSTUDIO_READONLY_SYMBOLS

/////////////////////////////////////////////////////////////////////////////
//
// Neutral resources
//
#ifdef _WIN32
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
#pragma code_page(1252)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// Version
//
VS_VERSION_INFO VERSIONINFO
 FILEVERSION MPARALLEL_VERSION_MAJOR,MPARALLEL_VERSION_MINOR,MPARALLEL_VERSION_PATCH,0
 PRODUCTVERSION MPARALLEL_VERSION_MAJOR,MPARALLEL_VERSION_MINOR,MPARALLEL_VERSION_PATCH,0
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x3L
#else
 FILEFLAGS 0x2L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "Comments", "This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY"
            VALUE "CompanyName", "Muldersoft"
            VALUE "FileDescription", "MParallel - Parallel Batch Processor"
            VALUE "FileVersion", MPARALLEL_VERSION_STR
            VALUE "InternalName", "MParallel"
            VALUE "LegalCopyright", "Copyright (C) 2004-2016 LoRd_MuldeR <MuldeR2@GMX.de>"
            VALUE "LegalTrademarks", "This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License <http://www.gnu.org/>"
            VALUE "OriginalFilename", "MParallel.exe"
            VALUE "ProductName", "MParallel - Parallel Batch Processor"
            VALUE "ProductVersion", MPARALLEL_VERSION_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//
MPARALLEL_ICON ICON "res\\MParallel.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Sound
//
NOTIFICATION WAVE "res\\Notification.wav"
